.DS_Store

*.xcscheme

*.a

*.xcuserstate

Objective-C/QC Base/QC Base.xcodeproj/xcuserdata/lee.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcuserstate

Objective-C/Examples/CoreDataExample/CoreDataExample.xcodeproj/project.xcworkspace/xcuserdata/lee.xcuserdatad/UserInterfaceState.xcuserstate

Objective-C/QC Base/qc_native.a

*.d

*.dia

*.o

*.LinkFileList

*.hmap

*.dep

Objective-C/QC Base/build/QC Base.build/Debug-iphonesimulator/QC Base.build/Script-71BB1879132FC126006D5060.sh

Objective-C/QC Base/build/QC Base.build/Debug-iphonesimulator/QC Base.build/build-state.dat
